/*****************************/
/********* CSS RESET *********/
/*****************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*****************************/
/****** UTILITY STYLES *******/
/*****************************/
body {
    background-color: #181818;
    font-family: 'Roboto', sans-serif;    
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
}

.credit {
    width: 100vw;
    position: absolute;
    color: #FFF;
    font-size: 12px;
    top: 95vh;
    text-align: center;
}


/********************************/
/******* PAGE BACKGROUND ********/
/********************************/
#bgcover {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url(covers/pearljam.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
    filter: blur(10px);
    opacity: 0.6;
    transition: all .5s linear;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}


/**********************************************/
/******* PLAYER STYLE AND ARTIST COVER ********/
/**********************************************/
.player {
    display: grid;
    place-items: center;
    width: 600px;
    min-width: 600px;
    height: 700px;
    margin-top: -100px;
}

.player__bg {
    width: 600px;
    height: 700px;
    border-radius: 15px;
    opacity: 0.7;
    background-color: #000;
    position: absolute;
    z-index: 0;
}

.player__cover {
    display: grid;
    place-items: center;
    width: 600px;
    height: 450px;
    position: relative;
    z-index: 1;
}

#player__cover__image {
    width: 380px;
    height: 380px;
    border: 15px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;    
    background-image: url(covers/pearljam.jpg);
    background-size: auto 110%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
}

#player__cover__image:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-size: auto 114%;
}


/***************************************/
/***** ARTIST AND SONG INFORMATION *****/
/***************************************/
.player__info {
    display: grid;
    place-items: center;
    height: 100px;
    color: #FFF;
    position: relative;
    z-index: 1;
}

#player__info__song {
    font-size: 20px;
    cursor: default;
}

#player__info__artist {
    font-size: 15px;
    margin-top: -30px;
    cursor: default;
}


/***************************************/
/******** TIME SONG INFORMATION ********/
/***************************************/
.player__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 60px;
    margin-bottom: 20px;
    color: #B3B3B3;
    font-size: 17px;
    position: relative;
    z-index: 1;
}

#player__time__info__ini, #player__time__info__end {
    cursor: default;
}

#player__time__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

#player__time__info__bar {
    appearance: none;
    outline: none;
    overflow: hidden;
    width: 70%;
    height: 2px;
    cursor: pointer;
    background-color: #B3B3B3;
    
}

#player__time__info__bar::-webkit-slider-thumb {
    width: 3px;
    -webkit-appearance: none;
    height: 3px;
    background: #FF0069;
    box-shadow: -500px 0 0 500px #FF0069;
}


/***************************************/
/******** LOOP & RANDOM BUTTONS ********/
/***************************************/
#player__time__loop, #player__time__random {
   height: 20px;
   color: #FFF;
   cursor: pointer;
}


/***************************************/
/*********** PLAYER CONTROLS ***********/
/***************************************/
.player__control {
    display: grid;
    place-items: center;
    height: 180px;
    width: 500px;
    margin-top: -20px;
    border-radius: 90px;
    background: linear-gradient(#FF0069, #B2005C);
    color: #FFF;
    position: relative;
    z-index: 1;
}

.player__control__buttons, .player__control__volume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    font-size: 35px;
}

.player__control__buttons {
    padding: 20px 0 0 0;
}

.player__control__buttons div {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

#player__control__buttons__play {
    background-image: url(icons/btn-play.png);
    background-size: cover;
}

#player__control__buttons__prev {
    background-image: url(./icons/btn-prev.png);
}

#player__control__buttons__next {
    background-image: url(icons/btn-next.png);
}

/***************************************/
/*********** VOLUME CONTROLS ***********/
/***************************************/
.player__control__volume {
    width: 250px;
}

.player__control__volume div {
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}

#player__control__volume__max {
    background-image: url(icons/btn-vol-up.png);
    background-size: 60%;
    cursor: pointer;
}

#player__control__volume__mute {
    background-image: url(./icons/btn-mute.png);
    background-size: 50%;
    cursor: pointer;
}

#player__control__volume__bar {
    appearance: none;
    outline: none;
    width: 65%;
    height: 3px;
    cursor: pointer;
}

#player__control__volume__bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 17px;
    background: #FFF;
    cursor: pointer;
    border-radius: 3px;
}